html, body {
    height: 100%;
  }
  
  body {
    background-color: #f8f8f8;
  }
  
  .App {
    margin: 1em;
    font-size: 1.2em;
    /*font-family: Verdana, Geneva, sans-serif;*/
    font-family: monospace;
    width: 300px;
  }
  