.collect-input-form {
    * {
      box-sizing: border-box;
    } 
    
    textarea {
      width: 100%;
      height: 70px;
      border: 1px solid #000;
      border-radius: 2px;
    }
    
    input[type="submit"] {
      cursor: pointer;
      display: block;
      box-shadow: 2px 2px #000;
      background: #fff;
      border: 1px solid #000;
      border-radius: 2px;
      font-family: monospace;
      padding: 4px;
      transition: all 0.1s;
    }
  
    input[type="submit"]:hover {
      box-shadow: 1px 1px #000;
    }
  }
  